html, body {
  overflow-x: hidden;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
.header {
  min-height: 100vh;
  padding: 60px 0;
  background: url('../img/Header.png') center bottom no-repeat;
  background-size: cover;
}
.navbar-nav li {
  display: inline-block;
}
.menu-list {
  max-width: 700px;
}
.menu-list .nav-item {
  margin-right: 20px;
  font-weight: 600;
}
.menu-list .nav-item:after {
  content: '';
  display: block;
  background-color: #000;
  height: 1px;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}
.menu-list .nav-item:hover::after {
  transform: scaleX(1);
}
.btn {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #000;
  transition: all .2s ease;
}
.btn:hover {
  color: #000;
  background-color: inherit;
  border: 1px solid #000;
}
/* Benefits Section */
.benefits {
  padding-bottom: 130px;
}
.benefits-wrapper {

}
.benefits-block {
  position: relative;
  margin-top: 50px;
  min-height: 300px;
}
.benefits-block-title {
  display: inline-block;
}
.benefits-block-title-status {
  display: inline-block;
  padding: 3px 5px;
  background-color: #26e6e6;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 100;
  color: #fff;
}
.benefits-block-title {
  font-size: 16px;
  text-transform: uppercase;
  width: 70%;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: .02em;
}
.benefits-block-text {
  font-size: 16px;
  width: 90%;
  margin: 30px auto;
}
.benefits-block-text:last-child {
  margin-top: 29px;
}
.benefits-block-url {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .2s ease;
}
.benefits-block-url:hover {
  background-color: #000;
  color: #fff;
}
.benefits-block1 {
  padding-top: 80px;
  background: url('../img/mail.png') center top no-repeat;
}
.benefits-block2 {
  padding-top: 80px;
  background: url('../img/edit.png') center top no-repeat;
}
.benefits-block3 {
  padding-top: 80px;
  background: url('../img/card.png') center top no-repeat;
}
/* iPhone Section */
.iPhone {
  padding: 130px 0;
  background: #26e6e6 url('../img/iPhone.png') left center no-repeat;
  background-size: 60% 85%;
  background-position: 15% 50%;
}
.iPhone-block {
  margin: 0 200px 0 auto;
  background-color: #fff;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .iPhone-block {
    margin: 0 auto;
  }
}
.iPhone-block h3 {
  font-size: 18px;
  font-weight: 600;
  width: 80%;
}
.iPhone-block p {
  font-size: 14px;
  width: 90%;
}
.iPhone-block-part {
  margin: 40px 0 0 30px;
  padding-left: 90px;
}
.iPhone-block-part1 {
  background: url('../img/browsers.png') left top no-repeat;
}
.iPhone-block-part2 {
  background: url('../img/briefcase.png') left top no-repeat;
}
.iPhone-block-part3 {
  background: url('../img/edit.png') left top no-repeat;
}
.iPhone-btn {
  width: 100%;
  border-radius: 0;
  height: 60px;
}
/* BuildIt Section */
.build {
  padding: 120px 0;
}
.build h1 {
  font-size: 72px;
  font-weight: 100;
  margin-bottom: 30px;
}
.build p {
  font-size: 18px;
  width: 65%;
  margin: 0 auto;
  font-weight: 600;
}
.build-text {
  margin: 0 auto;
}
/* Change Monitor Section */
.change {
  background-color: #f5f6f8;
}
.change-block-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 5px;
}
.change-block-text {
  margin-left: 5px;
  width: 90%;
}
.change-wrapper {
  justify-content: space-around;
}
.change-block-textMargin {
  margin-bottom: 36.8px;
}
.change-block {
  min-height: 180px;
}
.change-block-url {
  left: 16%;
  bottom: 0;
}
@media screen and (max-width: 1201px) {
  .change-block {
    min-height: 180px;
  }
  .change-block-url {
    left: 20%;
  }
  .change-block-text {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .change-block {
    min-height: 220px;
  }
  .change-block-url {
    left: 26%;
  }
  .change-block-text {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .change-block {
    min-height: 140px;
  }
  .change-block-url {
    left: 11.5%;
  }
}
@media screen and (max-width: 576px) {
  .change-block {
    min-height: 140px;
  }
  .change-block-url {
    left: 11%;
  }
  .change-block-text {
    width: 90%;
  }
}
@media screen and (max-width: 482px) {
  .change-block {
    min-height: 180px;
  }
  .change-block-url {
    left: 50%;
    transform: translateX(-50%);
  }
}
/* iPad Row */
.iPad {
  padding: 100px 0;
  position: relative;
  background-color: #f5f6f8;
}
.iPad-container {
  width: 85%;
  margin: 0 auto;
  background-color: #000;
  padding: 200px 100px;
}
.iPad-block {

}
.iPad-block-title {
  font-size: 65px;
  color: #fff;
  font-weight: 100;
}
.iPad-block-text {
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  margin-top: 30px;
  width: 75%;
}
.change-button {
  background-color: #26e6e6;
  padding: 10px 27px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  margin-top: 100px;
}
.change-button:hover {
  color: #fff;
  box-shadow: 0 0 10px 1px #26e6e6;
}
.iPad-img {
  width: 100%;
  height: 100%;
}
.iPad-img-block {
  position: absolute;
  right: 0;
  top: 40%;
  width: 50%;
  height: 80%;
}
@media screen and (max-width: 1200px) {
  .iPad-img-block {
    top: 55%;
    width: 45%;
    height: 50%;
  }
  .iPad-block-text {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .iPad-img-block {
    top: 55%;
    width: 45%;
    height: 50%;
  }
  .iPad-block-text {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .iPad-img-block {
    display: none;
  }
  .iPad-block-text {
    width: 100%;
  }
}
